<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Label</key>
		<string>3 Per Day</string>
		<key>Schedule</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>15</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Label</key>
		<string>7 Per Day</string>
		<key>Schedule</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>7</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>8</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>9</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>10</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>11</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>12</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>13</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
